* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-main {
  /*height: 100vh;*/
  padding: 150px 0;
  background-color: #f8f8f8;
}

.container {
  padding-top: 150px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.signup-content {
  /*margin-top: 150px;*/
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  padding: 75px 0;
  background-color: #ffffff;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
}

.signup-form, .signup-images {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.signup-form {
  padding: 0 75px;
  /*padding-left: 34px;*/
  /*text-align: center;*/
}

.signup-images {
  padding: 45px 0;
  text-align: center;
}

.title-form {
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.progressbar {
  text-align: center;
  overflow: hidden;
  counter-reset: number;
  /*display: inline;*/
}
.progressbar li {
  position: relative;
  display: inline-block;
  width: calc(100%/5);
  opacity: 0.7;
}

.progressbar li::before {
  counter-increment: number;
  content: counter(number);
  display: block;
  width: 30px;
  height: 30px;
  background-color: #bbbbbb;
  line-height: 30px;
  border: none;
  border-radius: 50%;
}

.progressbar li::after {
  content: '';
  width: 70px;
  height: 4px;
  background: red;
  position: absolute;
  /*left: -50%;*/
  top: 12px;
  z-index: -1;
}

.progressbar li:last-child::after {
  display: none;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.col-5 {
  max-width: 50%;
}

.form-group {
  display: block;
  float: left;
  padding: 5px;
  margin-bottom: 1rem;
  width: 100%;
}

.form-group label {
  width: 100%;
  overflow: hidden;
}

.form-group input {
  width: 100%;
  padding: 15px;
}

button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

