@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  -o-box-shadow: $shadows;
  -ms-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin box-sizing($sizing) {
  -moz-box-sizing: $sizing;
  -webkit-box-sizing: $sizing;
  -o-box-sizing: $sizing;
  -ms-box-sizing: $sizing;
  box-sizing: $sizing;
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin font($size, $weight: bold) {
  font: {
    weight: $weight;
    size: $size;
  }
}
