$bg-primary: #ffffff;
$bg-secondary: #fcd4bb;
$bg-default: #bbbbbb;
$bg-dark: #999595;
$bg-success: #f19097;
$txt-primary: #000000;
$txt-second: #f05130;
$txt-accent: #ffffff;
$txt-default: #000000;
$txt-link: #62c6f8;
$btn-primary: #ee616d;
$btn-event: #cd3442;
