@font-face {
  font-family: 'UTM-AVo';
  src: url('utm-avo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM-AVobold';
  src: url('utm-avobold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
