$bg-primary: #62c6f8;
$bg-secondary: #d9e4e9;
$bg-accent: #ffffff;
$txt-primary: #4cc1fc;
$txt-second: #ffffff;
$txt-accent: #8e8e8e;
$txt-link: #62c6f8;
$txt-default: #555555;
$bg-btn-primary: #4bbc56;
$bd-primary: #e9e9e9;
