@import url(utm-avo/fonts.css);
@import url(utm-avobold/fonts.css);
@import url(style.css);

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

.section-header {
  display: flex;
  padding: 10px 0 15px;
}

.section-header > div {
  display: flex;
  justify-content: space-between;
}

.header-left .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.logo .content {
  padding-left: 16px ;
  font-size: 16px;
}

.logo .content h1 {
  font-family: 'UTM-AVobold', Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}

.logo .content p { 
  margin-top: 4px;
  font-family: 'UTM-AVo', Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.header-right {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  padding-left: 50px;
  height: 100%;
  background: url(../images/icon-number.jpg) left no-repeat;
}

.header-right p {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.header-right a {
  padding-left: 20px;
  color: #4cc1fc;
  font-weight: bold;
  font-size: 18px;
}

.section-menu {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.main-menu .menu-list {
  background-color: #ffffff;
}

.main-menu .menu-item {
  border-left: 1px solid #e9e9e9;
}

.main-menu .menu-item:first-child{
  border-left: 0;
}

.main-menu .menu-item-link {
  padding: 25px 20px;
  color: #8e8e8e;
  font-size: 12px;
}
.main-menu .active {
  color: #62c6f8;
}

.main-menu .menu-item-link:hover {
  color: #62c6f8;
}

.menu-social ul li a {
  padding-right: 10px;
  line-height: 70px;
}

.section-banner {
  position: relative;
  background: url("../images/banner.jpg") top left no-repeat; 
  background-size: auto 100%;
  height: 160px;
}

.section-banner .list-breadcrumb {
  position: absolute;
  top: 45%;
  list-style-type: none;
  display: flex;
}

.section-banner .breadcrumb-item::after {
  content: "/";
  padding: 0 17px;
}

.section-banner .breadcrumb-item:last-child::after{
  content: "";
}

.section-banner a {
  font-family: 'UTM-AVo', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.page-main .main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0 40px;
}

.section-content {
  width: 100%;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-item {
  position: relative;
  width: 23%;
  margin: 1%;
  border: 1px solid #ebebeb;
}

.services-img img{
  width: 100%;
  height: 290px;
}

.services-item .services-title,
.services-item .services-content {
  padding: 10px;
}

.services-item .services-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.services-item .services-name {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-item .services-cost {
  font-size: 1rem;
  color: red;
}

.services-item .services-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  height: 55px;
}

.services-item .btn-add {
  display: flex;
  margin: 0 auto 0.5rem;
  padding: 1rem;
  background-color: #62c6f8;
  border: 0;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.page-footer{
  background-color: #62c6f8;
  text-transform: uppercase;
  color: #ffffff;
}

.section-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 40px;
  font-size: 12px;
}

.section-footer .section-about,
.section-footer .section-support,
.section-footer .section-connect {
  width: 33.3333333%;
}

.section-footer .title {
  font-family: 'Myriad Pro' ,Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 7px;
}

.section-footer .content a{
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-about .content ul ,
.section-support .content ul ,
.section-connect .content ul {
  list-style-position: inside;
}

.section-about .content ul li,
.section-support .content ul li,
.section-connect .content ul li {
  margin-top: 21px;
}

.section-connect .content ul {
  list-style-type: none;
}

.section-connect .content ul li a {
  display: flex;
  align-items: center;
}

.section-connect .content li a img {
  margin-right: 9px;
}

.section-copyright {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #81d1f9;
  text-transform: uppercase;
  padding: 23px 0;
  font-size: 1em;
}

.section-copyright > div {
  display: flex;
  justify-content: space-between;
}

.section-copyright a {
  color: #7df1cf;
  font-size: 1em;
}

table, th, td {
  border: 1px solid black;
}
