.section-banner {
  position: relative;
  background: url("../images/banner.jpg") top left no-repeat; 
  background-size: auto 100%;
  height: 160px;
  .list-breadcrumb {
    position: absolute;
    top: 45%;
    display: flex;
    list-style-type: none;
  }
  .breadcrumb-item {
    &::after {
      content: "/";
      padding: 0 12px;
    }
    &:last-child::after {
      content: "";
    }
  }
  .breadcrumb-link {
    @include third-text;
  }
}
.section-main {
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0 40px;
}
.page-aside{
  width: 24%;
}

.aside-adults,
.aside-children {
  @include third-text;
}
.title-adults,
.title-children {
  position: relative;
  padding: 15px;
  background-color: $bg-secondary;
  text-transform: uppercase;
  &::after {
    position: absolute;
    content: '-';
    right: 21px;
  }
}
.content-adults {
  margin: 2px 20px 25px;
  .content-item {
    list-style-position: inside;
    list-style-type: disc;
    border-left: 0;
    margin-top: 10px;
    margin-left: 0px;
  }
  .content-link {
    padding: 0;
    @include third-text(14px);
  }
}

.aside-form {
  display: flex;
  margin-top: 42px;
  padding: 27px 20px;
  text-align: center;
  background-color: $bg-secondary;
  .title-form {
    padding-bottom: 22px;
    text-transform: uppercase;
    @include second-text(18px);
    text-align: left;
    &::after {
      content: '';
      padding-top: 20px;
      width: 67px;  
      clear: both;
      display: block;
      border-bottom: 2px solid #62c6f8;
    }
  }
}

.section-services {
  width: 76%;
  .services-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .services-item {
    width: calc(100%/3);
    padding: 0 0 2% 2%;
  }
  .detail-item {
    position: relative;
    @include sexy-border(#ebebeb);
    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 15px;
      content: url("../images/icon-arrow.jpg");
    }
  }
  .services-img img{
    width: 100%;
    height: 180px;
  }
  .services-name {
    padding: 20px 0 0 24px;
    @include font(1rem, bold);
  }
  .services-content {
    padding: 24px 0 0 24px;
    font-size: 13px;
    padding-bottom: 40px;
  }
}
