@import url(style.css);
@font-face {
  font-family: 'UTM-AVo';
  src: url('utm-avo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM-AVobold';
  src: url('utm-avobold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container {
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
}

$bg-primary: #62c6f8;
$bg-second: #d9e4e9;
$bg-accent: #ffffff;
$txt-primary: #4cc1fc;
$txt-second: #ffffff;
$txt-accent: #8e8e8e;
$bg-btn-primary: #4bbc56;
$bd-primary: #e9e9e9;

@mixin btn-primary {
  background-color: $bg-btn-primary;
  color: $txt-second;
  text-transform: uppercase;
}

@mixin second-text($size: 1rem) {
	font: {
		family: 'UTM-AVobold', Arial, Helvetica, sans-serif;
    size: $size;
	}
}

@mixin third-text($size: 12px) {
  font: {
    family: 'UTM-AVo', Arial, Helvetica, sans-serif;
    size: $size;
  }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin sexy-border($color, $width:1px, $style:solid) {
  border: {
    color: $color;
    width: $width;
    style: $style;
  }
}

@mixin font($size, $weight, $style:none) {
  font: {
    size: $size;
    weight: $weight;
    style: $style;
  }
}

.page-header {
  .section-header {
    display: flex;
    padding: 10px 0 15px;
    & > div {
      display: flex;
      justify-content: space-between;
    }
    .header-left {
      .logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .content {
          padding-left: 16px;
          font-size: 16px;
          h1 {          
            @include second-text(1.25em);
            text-transform: uppercase;
          }
          p { 
            margin-top: 4px;
            @include third-text(1rem);
          }
        }
      }
    }
    .header-right {
      display: flex;
      flex-wrap: wrap;  
      align-items: center;
      padding-left: 40px;
      height: 100%;
      background: url(../images/icon-number.jpg) left no-repeat;
      p {
        @include font(14px, bold, italic);
      }
      a {
        padding-left: 6px;
        @include font(18px, bold);
        color: $txt-primary;
      }
    }
  }

  .section-menu {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $bd-primary;
    border-bottom: 1px solid $bd-primary;
    & > div {
      display: flex;   
      justify-content: space-between;
      align-items: center;
    }
    .social-list {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      li {
        float: left;
        a {
          display: block;
          text-align: center;
          text-decoration: none;
        }
      }
    }
    .main-menu {
      .menu-list {
        @extend .social-list;
        background-color: $bg-accent;
        .menu-item {
          border-left: 1px solid $bd-primary;
          .menu-item-link {
            padding: 22px;
            color: $txt-accent;
            font-size: 12px;
            &:hover {
              color: $txt-primary;
            }
          }
          .active {
            color: $txt-primary;
          }
          &:first-child {
            border-left: 0;
          }
        }
      }
    }
    .menu-social {
      .social-item-link {
        padding-right: 10px;
      }
    }
  }
}

.page-main {
  .section-banner {
    position: relative;
    background: url("../images/banner.jpg") top left no-repeat; 
    background-size: auto 100%;
    height: 160px;
    .list-breadcrumb {
      position: absolute;
      top: 45%;
      display: flex;
      list-style-type: none;
      .breadcrumb-item {
        a {
          @include third-text;
        }
        &::after {
          content: "/";
          padding: 0 12px;
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }
  .main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 75px 0 40px;
    .page-aside{
      width: 24%;
      .aside-adults,
      .aside-children {
        @include third-text;
        .title-adults,
        .title-children {
          position: relative;
          padding: 15px;
          background-color: $bg-second;
          text-transform: uppercase;
          &::after {
            position: absolute;
            content: '-';
            right: 21px;
          }
        }
        .content-adults {
          margin: 2px 20px 25px;
          .content-list {
            .content-item {
              list-style-position: inside;
              list-style-type: disc;
              border-left: 0;
              margin-top: 10px;
              margin-left: 0px;
              .content-link {
                padding: 0;
                @include third-text(14px);
              }
            }
          }
        }
      }
      .aside-children {
        margin-bottom: 42px;
      }
      .aside-form {
        display: flex;
        padding: 27px 20px;
        text-align: center;
        background-color: $bg-second;
        .title-form {
          padding-bottom: 22px;
          text-transform: uppercase;
          @include second-text(18px);
          text-align: left;
        }
        input {
          width: 100%;
          margin-top: 15px;
          padding: 14px 12px;
        }
        input[type = submit] {
          width: 50%;
          border: 0;
          @include btn-primary;
          @include second-text(1rem);
        }
      }
    }
    .section-services {
      width: 76%;
      .services-list {
        display: flex;
        flex-wrap: wrap;
        .services-item {
          width: calc(100%/3);
          padding: 0 0 2% 2%;
          .detail-item {
            position: relative;
            @include sexy-border(#ebebeb);
            &::after {
              position: absolute;
              right: 0;
              bottom: 0;
              height: 15px;
              content: url("../images/icon-arrow.jpg");
            }
            .services-img img{
              width: 100%;
              height: 180px;
            }
            .services-name {
              padding: 20px 0 0 24px;
              @include font(1rem, bold);
            }
            .services-content {
              padding: 24px 0 0 24px;
              font-size: 13px;
              padding-bottom: 40px;
            }
          }
        }
      }
    }
  }
}

.page-footer{
  background-color: $bg-primary;
  text-transform: uppercase;
  color: $txt-second;
  .section-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 45px 0 40px;
    font-size: 12px;
    .section-about,
    .section-support,
    .section-connect {
      width: calc(100%/3);
      .title {
        @include second-text(18px);
      }
      .content {
        margin-top: 21px;
        .content-list {
          list-style-position: inside;
          .content-item {
            margin-top: 4px;
            .content-link {
              font-size: 1em;
              text-transform: uppercase;
              color: $txt-second;
            }
          }
        }
      }
    }
    .section-connect .content-list {
      list-style-type: none;
      .content-link {
        display: flex;
        align-items: center;
        img {
          margin-right: 9px;
        }
      }
    }
  }
  .section-copyright {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #81d1f9;
    text-transform: uppercase;
    padding: 15px 0;
    font-size: 1em;
    & > div {
      display: flex;
      justify-content: space-between;
      a {
        color: #7df1cf;
        font-size: 1em;
      }
    }
  }
}
