* ,*:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin large-text {
  font: {
  family: Arial, Helvetica, sans-serif;
  size: 14px;
  weight: 400;
  }
  color: #555555;
}

body {
  position: relative;
  @include large-text;
  background-color: #ffffff;
  line-height: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  &:hover,
  &:focus {
    color: #62c6f8;
  }
}

.fl-left {
  float: left;
  box-sizing: border-box;
}

.fl-right {
  float: right;
  box-sizing: border-box;
}

.clr {
  content: "";
  clear: both;
  display: block;
}
