@import url(style.css);

.section-sticky {
  background-image: url('../images/laptop.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #000000;
}

.content-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.section-sticky .sticky-list {
  width: 20%;
  height: 225px;
  border: 1px solid #000000;
  overflow: auto;
}

.section-sticky .sticky-item {
  position: relative;
  list-style-type: none;
}

.section-sticky .sticky-title {
  display: flex;
  align-items: center;
  justify-content: space-around;  
  width: 25px;
  height: 25px;
  margin: 5px;
  font-size: 16px;
  border-radius: 50%;
  background-color: #a11fb9;
}

.fixed-sticky .sticky-title {
  position: sticky;  
  position: -webkit-sticky;
  top: 5px;
}

.section-sticky .sticky-content li{
  padding: 5px 10px;
  list-style-type: none;
}
