.header-top {
  background-color: #f5f5f5;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;

    color: #666;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    color: #666;
  }
}
