@import url(utm-avo/fonts.css);
@import url(style.css);

.container{
  width: 100%;
  padding: 0 180px;
}


.section-header{
  display: flex;
  padding: 10px 0 15px;
}

.header-left .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.logo .content {
  padding-left: 15px ;
  font-size: 16px;
}

.logo .content h1 {
  font-family: 'UTM-Avo', Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
}

.logo .content p { 
  font-family: 'UTM-AVo', Arial, Helvetica, sans-serif;
  font-size: 1em;
}

.header-right {
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
  padding-left: 50px;
  height: 100%;
  background: url(../images/icon-number.jpg) left no-repeat;
}

.header-right p {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

.header-right a {
  padding-left: 20px;
  color: #4cc1fc;
  font-weight: bold;
  font-size: 18px;
}

.section-menu {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.main-menu .menu-list{
  background-color: #ffffff;
}

.main-menu .menu-item{
  border-left: 1px solid #e9e9e9;
}

.main-menu .menu-item:first-child{
  border-left: 0;
}

nav ul li a {
  padding: 25px 20px;
  color: #8e8e8e;
  font-size: 12px;
}

nav ul li a:hover {
  color: #62c6f8;
}

/* nav ul li a {
  padding: 25px 20px;
  color: #8e8e8e;
  font-size: 12px;
}

nav ul li a:hover {
  color: #62c6f8;
} */

.menu-social ul li a{
  padding-right: 10px;
  line-height: 70px;
}


.section-banner{
  position: relative;
  background: url("../images/banner.jpg") top left no-repeat; 
  background-size: auto 100%;
  height: 160px;
}


.section-banner div {
  position: absolute;
  top: 45%;
}

.section-banner a {
  font-family: 'UTM-AVo', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.page-main .main-content{
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0 40px;
}

.page-aside{
  width: 25%;
}

.aside-adults,
.aside-children {
  font-family: 'UTM-AVo' ,Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.aside-adults .title-adults,
.aside-children .title-children{
  position: relative;
  padding: 20px;
  background: #d9e4e9;
  text-transform: uppercase;
}

.aside-adults .title-adults::after{
  position: absolute;
  content: '-';
  right: 21px;
}

.aside-children .title-children::after{
  position: absolute;
  content: '+';
  right: 21px;
}

.aside-form {
  text-align: center  ;
  background: #d9e4e9;
}

.aside-adults .nav-adults{
  margin: 2px 20px 25px;
}

.nav-adults ul li{
  list-style-position: inside;
  list-style-type: disc;
  border-left: 0;
  margin-top: 21px;
}

.nav-adults li a{
  padding: 0;
  font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.aside-children {
  margin-bottom: 42px;
}

.section-content {
  width: 75%;
}

.aside-form {
  display: flex;
  padding: 27px 20px;
}

.aside-form .title-form{
  padding-bottom: 22px;
  text-transform: uppercase;
  font-family: 'UTM-AVo',Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 18px;
}

.aside-form input {
  width: 100%;
  margin-top: 15px;
  padding: 14px 12px;
}

.aside-form input[type = submit] {
  width: 50%;
  border: 0;
  background-color: #4bbc56;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'UTM-AVo',Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.section-list{
  display: flex;
  flex-wrap: wrap;
}

.services-item{
  position: relative;
  width: 31.3333333%;
  margin: 0 0 2% 2%;
  border: 1px solid #ebebeb;
}

.services-item::after{
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15px;
  content: url("../images/icon-arrow.jpg");
}

.services-img img{
  width: 100%;
  height: 195px;
}

.services-item .services-name,
.services-item .services-content{
  padding: 24px 0 0 24px;
}

.services-item .services-name{
  font-size: 1rem;
  font-weight: bold;
}

.services-item .services-content {
  font-size: 13px;
  padding-bottom: 40px;
}

.page-footer{
  background-color: #62c6f8;
  text-transform: uppercase;
  color: #ffffff;
}

.section-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 40px;
  font-size: 12px;
}

.section-footer .section-about,
.section-footer .section-support,
.section-footer .section-connect {
  width: 33.3333333%;
}

.section-footer .title {
  font-family: 'Myriad Pro' ,Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 7px;
}

.section-footer .content a{
  font-size: 1em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-about .content ul ,
.section-support .content ul ,
.section-connect .content ul{
  list-style-position: inside;
}

.section-about .content ul li,
.section-support .content ul li,
.section-connect .content ul li{
  margin-top: 21px;
}

.section-connect .content ul{
  list-style-type: none;
}

.section-connect .content ul li a{
  display: flex;
  align-items: center;
}

.section-connect .content li a img{
  margin-right: 9px;
}

.section-copyright {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #81d1f9;
  text-transform: uppercase;
  padding: 23px 0;
  font-size: 1em;
}

.section-copyright > div {
  display: flex;
  justify-content: space-between;
}

.section-copyright a {
  color: #7df1cf;
  font-size: 1em;
}